 <% @page_title = "Store Front" %>
 <%current_slide = ["first-slide","second-slide","third-slide"]%>
 <%item_class = ["item active","item","item"]%>

 <!-- parallax ============ -->
<div class="parallax"></div>

 <div class="container store-spacing" stype=" line-height: 300px;">
  <h2> New Products, Great Deals </h2>
  <h5 > Limited Time price Drop!</h5>
 </div>
 <!--Carousel Wrapper-->



			<div class="slider center">
          <% @newest.each_with_index do |item,index| %>
				<div>
					<div>
            <% if item.image.attached? %>
            <%= link_to(image_tag(item.image, class: "Store_image", :size => "260x180"), item_path(item), :class => 'action show')  %>
            <%else%>
  <%=  link_to(image_tag("placeholderplant", id: "show_image",:size => "260x160"), item_path(item), :class => 'action show')  %>
<% end %>
</div>
				</div>
            <%end%>
				
			</div>
		

    <div class="container-fluid marketing">

    
      <!-- START THE Types -->

      <% @types.each_with_index do |type,index| %>
      <% if type.image.attached? %>
        <%if index%2==0%>
          <div class="row ">

            <div class="col-md-6 type-cards" >
              <h2 class="featurette-heading type-spacing type-description" ><%= link_to(type.name, store_front_path(type.id)) %></h2>
              <p class="type-spacing type-description"> <%=type.description %> </p>
            </div>
            <div class="col-md-6">
            <%= link_to(image_tag(type.image, :class => "img-fluid"), store_front_path(type.id), :class => 'action show')  %>
            </div>
          
          </div>

      
        <%else%>
          <div class="row ">
 
              <div class="col-md-6 type-cards" id="small-screen" style="display: none">
               <h2 class="featurette-heading type-spacing type-description" ><%= link_to(type.name, store_front_path(type.id)) %></h2>
              <p class="type-spacing type-description"><%=type.description %></p>
            </div>

            <div  class="col-md-6 ">
              <%= link_to(image_tag(type.image, :class => "img-fluid"), store_front_path(type.id), :class => 'action show', :size => "140x140")  %>
            </div>


            <div class="col-md-6 type-cards" id="large-screen" >
               <h2 class="featurette-heading type-spacing type-description" ><%= link_to(type.name, store_front_path(type.id)) %></h2>
              <p class="type-spacing type-description"><%=type.description %></p>
            </div>
         
       
           
          </div>

         <% end %>
        <%end%>
      <%end%>

<script>
function fixTypes(){
  if(screen.width < 992)
  {
    document.getElementById("large-screen").style.display="none"
    document.getElementById("small-screen").style.display="block"
  }
  else
  {
    document.getElementById("large-screen").style.display="block"
    document.getElementById("small-screen").style.display="none"
  }
}
  window.addEventListener('resize', fixTypes);
</script>

    </div><!-- /.container -->

 <hr class="featurette-divider">

<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
<script>
      $('.center').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 5,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 3
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
});
</script>
<script>
document.getElementsByClassName("slick-next")[0].innerHTML = "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-right' viewBox='0 0 16 16'>  <path fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>"

document.getElementsByClassName("slick-prev")[0].innerHTML = "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-left' viewBox='0 0 16 16'>  <path fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>"
 </script>