<div class="container">
    <div class="row" id="store">

    <% @items.each do |item| %>
        <div class="col-sm-4">
            <div class="thumbnail"> 
                <%= link_to(image_tag(item.image, id: "Store_image"), item_path(item), :class => 'action show')  %>
                <h3><%= item.name %></h3>
                <h4><%= number_to_currency(item.unit_value) %> QTY : <%= item.quantity %><h4>
                <p><%= truncate(item.description, length: 90) %></p>         
            </div>
        </div>
        <% end %>

    </div>
  
</div>