    
          
            
            <div class="row">
                <div class="form-group col-sm-4 col-md-offset-4" id="field">
                    <%= f.label :first_name, class: "col-sm-3 control-label" %>
                    <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-sm-4 col-md-offset-4" id="field">
                    <%= f.label :last_name, class: "col-sm-3 control-label" %>
                    <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4 col-md-offset-4" id="field">
                    <%= f.label :username, class: "col-sm-3 control-label" %>
                    <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
                </div>
            </div>

             <div class="row">
                <div class="form-group col-sm-4 col-md-offset-4" id="field">
                    <%= f.label :email, class: "col-sm-3 control-label" %>
                    <%= f.text_field :email, class: "form-control", placeholder: "Username" %>
                </div>
            </div>

         

            <div class="row">
                <div class="form-group col-sm-4 col-md-offset-4" id="field">
                        <%= f.label :role, class: "col-sm-3 control-label" %>
                        <%= f.select(:role, [["user","user"],["admin","admin"],["super","super"]] ) %>
                </div>
            </div>




            <div class="row">
                <div class="container" id="submit" >
                    <%= f.submit "confirm" ,class:"btn btn-lg btn-primary btn-block" %>
                </div>
            </div>
   