



<div class="container" id="dashboard">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Items</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span><%=@item%></span></h2>
                    <p ><%= link_to "Index", items_path %><span class="f-right"><%= link_to "new", new_item_path %></span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-purple order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Type</h6>
                   
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span><%=@type%></span></h2>
                    <p ><%= link_to "Index", types_path %><span class="f-right"><%= link_to "new", new_type_path %></span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Promo</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span><%=@promo%></span></h2>
                    <p ><%= link_to "Index", promos_path %><span class="f-right"><%= link_to "new", new_promo_path %></span></p>
                 
                </div>
            </div>
        </div>
        
        
         <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Users</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span><%=@user%></span></h2>
                    <p ><%= link_to "Index", users_path %><span class="f-right"><%= link_to "New", new_user_path %></span></p>
                </div>
            </div>
        </div>

	</div>
</div>



