<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Waynewood Wonders: <%= @page_title || "Admin Area" %></title>
    <%= csrf_meta_tags %>
    <!-- bootstrap's To ensure proper rendering and touch zooming on mobile   -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  
  <body>



  
    <%= yield %>


  </body>
</html>
